v__pycache__/
*.py[cod]
*$py.class
.python-version

.venv/
venv/
ENV/
env/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.secret

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

target/
dbt_packages/
logs/
*.log

spark-warehouse/
metastore_db/
derby.log
checkpoint/
.pytest_cache/

mlruns/
outputs/
models/*.pkl
models/*.joblib
models/*.bst